{% extends 'base.html' %}

{% block content %}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
    <form action="" method="post"> {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create"/>
    </form>
{% endblock %}
